<header>
    <nav class="header-nav">
      <div class="logo">
        <img src="/path/to/spotify-logo.svg" alt="Spotify" />
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Your Library</a></li>
      </ul>
      <div class="user-profile">
        <img src="/path/to/profile-pic.jpg" alt="User Profile" />
      </div>
    </nav>
  </header>