---
import CardSection from "./CardSection.astro"
---
<section class="hero">
    <h2>Featured Playlists</h2>
    <CardSection
      cards={[
        { title: "Discover Weekly", imageSrc: "https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" },
        { title: "Top Hits", imageSrc: "https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" },
        { title: "New Releases", imageSrc: "https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" }
      ]}
    />
  </section>